[submodule "mod/test/test.md"]
	path = mod/test/test.md
	url = https://gist.github.com/alpineyahoo/3210132a3eaf3984601d17439265b387
[submodule "mod/github-pages-spec.md"]
	path = mod/github-pages-spec.md
	url = https://gist.github.com/alpineyahoo/4a56332b16c4cc36c1c82b534b0cb22c
[submodule "mod/github-starred-repos.md"]
	path = mod/github-starred-repos.md
	url = https://gist.github.com/alpineyahoo/7bd0b9a41b6a6ea319d58a2bfc25ae26
[submodule "mod/killeave.sh"]
	path = mod/killeave.sh
	url = https://gist.github.com/alpineyahoo/3ac1a4036281923a34988cd2dc07b142
